body {
    padding: 0;
    margin: 0;
}

.metriland-interview {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Consolas;
    font-size: 25px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-avatar {
    width: 200px;
    border-radius: 100%;
}
